@model RegisterViewModel

<div class="row">
    <div class="col-12">
        <div class="bg-white-4">
            <h1>Kayıt Ol</h1>
            
        <form action="Register" method="post" enctype="multipart/form-data">@*seçilen formun tasıma yeteneği kazandırmak için enctype="multipart/form-data" img için*@
            <div class="text-danger" asp-asp-validation-summary="All"></div>

            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control">
                <span class="text-danger" asp-validation-for="FullName"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" type="file" class="form-control">
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
        </div>
    </div>
</div>